<%= render "shared/include" %>
<section class="site-section site-section-light site-section-top themed-background-fire">
  <div class="container">
    <h1 class="text-center animation-slideDown"><i class="fa fa-heart"></i> <strong>Meet our team</strong></h1>
    <h2 class="h3 text-center animation-slideUp">Passionate people who love what they do!</h2>
  </div>
</section>
<!-- END Intro -->
<!-- People -->
<section class="site-content site-section">
  <div class="container">
    <div class="row row-items text-center">
    <% @participates.each do |participate| %>
      <div class="col-sm-4 col-md-3">
        <img src="/assets/avatar/avatar2@2x.jpg" alt="Photo" class="img-circle visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeIn" >
        <h3>
          <strong><%= participate.user.name %></strong><br>
          <small><%= participate.position %></small>
        </h3>
      </div>
    <% end %>
    </div>
  </div>
</section>
<!-- END People -->
<!-- Work Together Action -->
<section class="site-content site-section">
  <div class="container">
    <div class="site-block text-center">
      <%= link_to "Chat room", room_path(@project), class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</section>
<!-- END Work Together Action -->
