<tr>
  <td class="text-center"></td>
  <td class="text-center">
    <%= image_tag technique.image.url, class: "img-circle" %>
  </td>
  <td><a href="page_ready_user_profile.html">client1</a></td>
  <td>client3@example.com</td>
  <td><a href="javascript:void(0)" class="label label-warning">Trial</a></td>
  <td class="text-center">
    <div class="btn-group btn-group-xs">
      <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-pencil"></i></a>
      <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-danger"><i class="fa fa-times"></i></a>
    </div>
  </td>
</tr>
