<div class="sidebar-block">
  <h4 class="site-heading"><strong>Categories</strong></h4>
  <% @categories.each do |category| %>
    <div class="content-float clearfix">
      <%= image_tag "avatar/avatar1.jpg", class: "img-circle pull-left" %>
      <h5><b><%= link_to category.name, blogs_path(category: category.id) %></b></h5>
    </div>
  <% end %>
</div>

