<div class="col-md-4 col-lg-3">
  <aside class="sidebar site-block">
    <!-- Store Menu -->
    <!-- Store Menu functionality is initialized in js/app.js -->
    <div class="sidebar-block">
      <ul class="store-menu">
        <li>
          <a href="javascript:void(0)" class="submenu"><i class="fa fa-angle-right"></i> Clothes</a>
          <ul>
            <li><a href="javascript:void(0)">Women</a></li>
            <li><a href="javascript:void(0)">Men</a></li>
          </ul>
        </li>
        <li class="open">
          <a href="javascript:void(0)" class="submenu"><i class="fa fa-angle-right"></i> Electronics</a>
          <ul>
            <li><a href="javascript:void(0)">PCs</a></li>
            <li><a href="javascript:void(0)">Laptops</a></li>
            <li class="open">
              <a href="javascript:void(0)" class="submenu"><i class="fa fa-angle-right"></i> Tablets</a>
              <ul>
                <li><a href="javascript:void(0)">Android</a></li>
                <li><a href="javascript:void(0)">iOS</a></li>
              </ul>
            </li>
            <li><a href="javascript:void(0)">Headsets</a></li>
            <li><a href="javascript:void(0)" class="active">Mobile Phones</a></li>
            <li><a href="javascript:void(0)">Mp3 Players</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)" class="submenu"><i class="fa fa-angle-right"></i> Games</a>
          <ul>
            <li><a href="javascript:void(0)">PC</a></li>
            <li><a href="javascript:void(0)">PS4</a></li>
            <li><a href="javascript:void(0)">Xbox One</a></li>
            <li><a href="javascript:void(0)">Wii U</a></li>
            <li><a href="javascript:void(0)">PS Vita</a></li>
            <li><a href="javascript:void(0)">3Ds</a></li>
          </ul>
        </li>
        <li><a href="javascript:void(0)">Sports</a></li>
        <li><a href="javascript:void(0)">Kids</a></li>
        <li><a href="javascript:void(0)">Home</a></li>
      </ul>
    </div>
    <!-- END Store Menu -->
    <!-- Shopping Cart -->
    <div class="sidebar-block">
      <div class="row">
        <div class="col-xs-6 push-bit">
          <span class="h3">$ 750<br><small><em>3 Items</em></small></span>
        </div>
        <div class="col-xs-6">
          <a href="ecom_shopping_cart.html" class="btn btn-sm btn-block btn-success">VIEW CART</a>
          <a href="ecom_checkout.html" class="btn btn-sm btn-block btn-danger">CHECKOUT</a>
        </div>
      </div>
    </div>
    <!-- END Shopping Cart -->
  </aside>
</div>
