<%= javascript_include_tag "static-user/ecomCheckout.js", 'data-turbolinks-track': 'reload' %>
<script>$(function(){ EcomCheckout.init(); });</script>

<div class="block">
  <div class="block-title">
    <h2><strong>Table</strong> Styles</h2>
  </div>
  <div class="table-options clearfix">
    <div class="btn-group btn-group-sm pull-right">
      <%= link_to new_admin_user_path(), class: "btn btn-primary" do %>
        <i class="gi gi-plus"></i> Add
      <% end %>
    </div>
    <div class="btn-group btn-group-sm pull-left" data-toggle="buttons">
      <label id="style-default" class="btn btn-primary active" data-toggle="tooltip" title=".table">
      <input type="radio" name="style-options"> Default
      </label>
      <label id="style-bordered" class="btn btn-primary" data-toggle="tooltip" title=".table-bordered">
      <input type="radio" name="style-options"> Bordered
      </label>
      <label id="style-borderless" class="btn btn-primary" data-toggle="tooltip" title=".table-borderless">
      <input type="radio" name="style-options"> Borderless
      </label>
    </div>
  </div>
  <div class="row">

    <!-- Checkout Process -->
    <section class="site-content site-section">
      <div class="site-block">
          <%= render "form_edit" %>
          <!-- END Checkout Wizard Content -->
      </div>
    </section>
    <!-- END Checkout Process -->

    <!-- Services Info -->
    <section class="site-section site-section-light">
      <div class="row text-center">
          <div class="col-sm-5 push visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
              <span class="h3"><i class="fa fa-truck"></i> <strong>ADD PROJECT</strong><br>VARIETY</span>
          </div>
          <div class="col-sm-2 push visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuickInv" data-element-offset="-100">
              <i class="fa fa-plus fa-4x"></i>
          </div>
          <div class="col-sm-5 push visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
              <span class="h3"><i class="fa fa-support"></i> <strong>ADD MEMBER</strong><br>CREATIVE
    </section>
            <!-- END Services Info -->


  </div>
</div>
