<% provide :button_text, t("update") %>

<div class="block">
   <div class="block-title">
        <!-- Interactive block controls (initialized in js/app.js -> interactiveBlocks()) -->
        <div class="block-options pull-right">
            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary" data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary" data-toggle="block-toggle-fullscreen"><i class="fa fa-desktop"></i></a>
            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary" data-toggle="block-hide"><i class="fa fa-times"></i></a>
        </div>
        <h2><strong>Interactive</strong> Block</h2>
    </div>
    <div class="table-options clearfix">
      <div class="btn-group btn-group-sm pull-left" data-toggle="buttons">
        <label id="style-default" class="btn btn-primary active" data-toggle="tooltip" title=".table">
        <input type="radio" name="style-options"> Default
        </label>
        <label id="style-bordered" class="btn btn-primary" data-toggle="tooltip" title=".table-bordered">
        <input type="radio" name="style-options"> Bordered
        </label>
        <label id="style-borderless" class="btn btn-primary" data-toggle="tooltip" title=".table-borderless">
        <input type="radio" name="style-options"> Borderless
        </label>
      </div>
    </div>

    <div class="table-responsive">
      <%= render "form" %>
    </div>
  </div>
