
<div class="block">
  <div class="block-title">
    <h2><strong>Table</strong> Styles</h2>
  </div>
  <div class="table-options clearfix">
    <div class="btn-group btn-group-sm pull-right">
      <a href="javascript:void(0)" class="btn btn-primary active" id="style-striped" data-toggle="tooltip" title=".table-striped">Striped</a>
      <a href="javascript:void(0)" class="btn btn-primary" id="style-condensed" data-toggle="tooltip" title=".table-condensed">Condensed</a>
      <a href="javascript:void(0)" class="btn btn-primary" id="style-hover" data-toggle="tooltip" title=".table-hover">Hover</a>
    </div>
    <div class="btn-group btn-group-sm pull-left" data-toggle="buttons">
      <label id="style-default" class="btn btn-primary active" data-toggle="tooltip" title=".table">
      <input type="radio" name="style-options"> Default
      </label>
      <label id="style-bordered" class="btn btn-primary" data-toggle="tooltip" title=".table-bordered">
      <input type="radio" name="style-options"> Bordered
      </label>
      <label id="style-borderless" class="btn btn-primary" data-toggle="tooltip" title=".table-borderless">
      <input type="radio" name="style-options"> Borderless
      </label>
    </div>
  </div>
  <div class="table-responsive">
    <table class="general-table" class="table table-striped table-vcenter table-hover bootstrap-datatable datatable" aria-describedby="DataTables_Table_0_info">
      <thead>
        <tr>
          <th style="width: 80px;" class="text-center">Index</th>
          <th style="width: 150px;" class="text-center"><i class="gi gi-user"></i></th>
          <th>Client</th>
          <th>Email</th>
          <th>Subscription</th>
          <th style="width: 150px;" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="text-center"></td>
          <td class="text-center">
            <%= image_tag "avatar/avatar1.jpg", class: "img-circle" %>
          </td>
          <td><a href=""><%= user.name %></a></td>
          <td><%= user.email %></td>
          <td>
            <% user.roles.each do |role| %>
            <a href="javascript:void(0)" class="label label-warning"><%= role.name.titleize %></a>
            <% end %>
          </td>
          <td class="text-center">
            <div class="btn-group btn-group-xs">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-pencil"></i></a>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-danger"><i class="fa fa-times"></i></a>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <div class="btn-group btn-group-sm pull-right">
              <a href="javascript:void(0)" class="btn btn-primary" data-toggle="tooltip" title="Settings"><i class="fa fa-cog"></i></a>
              <div class="btn-group btn-group-sm dropup">
                <a href="javascript:void(0)" class="btn btn-primary pull-right dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                  <li><a href="javascript:void(0)"><i class="fa fa-print pull-right"></i> Print</a></li>
                  <li class="dropdown-header"><i class="fa fa-share pull-right"></i> Export As</li>
                  <li>
                    <a href="javascript:void(0)">.pdf</a>
                    <a href="javascript:void(0)">.cvs</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="btn-group btn-group-sm">
              <a href="javascript:void(0)" class="btn btn-primary" data-toggle="tooltip" title="Edit Selected"><i class="fa fa-pencil"></i></a>
              <a href="javascript:void(0)" class="btn btn-primary" data-toggle="tooltip" title="Delete Selected"><i class="fa fa-times"></i></a>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
